<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><a href='/view'>view</a><br>
    </p><a href='/adduser'>add user</a>
    </p><a href='/removeuser'>remove user</a>
    <h1>your full contact list:</h1>
    {% for i in data %}
    <p>the power of jinga</p>
    <h3>{{i['name']}} {{i['number']}} {{i['email']}}</h3>
    {% endfor %}

</body>

</html>